
<h1>hi <%= @user.name %></h1>

<% @tattoos.each do |tattoo| %>
  <% if policy(tattoo).show? %>
    <%= link_to "Show your tattoo", tattoo %>
  <% end %>
<% end %>

  <% if @user.role == "artist" && @user == current_user %>
    <%= link_to "Add a tattoo", new_tattoo_path %>
  <% end %>

<%#=   %>
