<footer class="footer">
        <div class="container text-center">
            <p style="color:grey" class="copyright">Copyright 2019 GetInked Inc - Part of the Volunteasy Group. All Rights Reserved.</p>
            <a href="#"><small style="color:grey" class="fa fa-lg fa-github pull-center">  </small></a>
            <a href="#"><small style="color:grey" class="fa fa-lg fa-instagram pull-center">  </small></a>
            <a href="#"><small style="color:grey" class="fa fa-lg fa-facebook pull-center">  </small></a>
            <a href="#"><small style="color:grey" class="fa fa-lg fa-twitter pull-center">  </small></a>
            <a href="#"><small style="color:grey" class="fa fa-lg fa-linkedin pull-center">  </small></a>
        </div><!--End container-->
    </footer>
