<h1>Tattoos#index</h1>
<p>Find me in app/views/tattoos/index.html.erb</p>



  <div class="container">

  <div class="flexbox-container">

    <h2>Available Tattoos</h2>
  </div>

    <div class="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search criteria" id="search">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Sort by" class="form-control" id="sort">
      </div>

      <div class="col">
      <a href="" class="btn btn-primary">Search</a>

    </div>

    </div>

    <div class="container m-16">

  <div class="cards">

    <% @tattoos.each do |tattoo| %>
    <div class="card"><%= link_to tattoo.description, tattoo %>
      <div class="card-image">
    <%= cl_image_tag(tattoo.photo,
     width: 300, height: 300, crop: :fill) %>
    <a href="" class="btn btn-primary">View</a>
    </div>
    </div>
     <% end %>

  </div>

</div>

</div>

</div>




