<div class="jumbotron" style="background-image:linear-gradient(blue, pink);, url(https://i.pinimg.com/originals/cc/31/70/cc31700d5af6a6516abe85212e34710b.jpg); background-size: 100%; background-size: cover;">
  <h1 class ="logo">GetInked2</h1>
  <p class="text-black" text-align: center> Your body is a journal, and your tattoos are your story.</p>
  <div class="profile-button">
    <%= link_to "See Tattoos", tattoos_path, class:'btn btn-light p-3 mt-4' %>
    <% if user_signed_in? %>
      <% if current_user.role == "artist" %>
        <%= link_to "My profile", current_user, class:'btn btn-light p-3 mt-4 ml-4'  %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558610007/gun.png)">
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558610007/hands.png)">
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558612847/feet.jpg)">
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558610008/paolo.png)">
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558607901/sw4o04jfgad4wiu1h8bo.jpg)">
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558617519/IMG_9229_n0grkw.jpg)">
    </div>
  </div>
</div>
