  <div class="jumbotron" style="background-image:linear-gradient(blue, pink);, url(https://i.pinimg.com/originals/cc/31/70/cc31700d5af6a6516abe85212e34710b.jpg); background-size: 100%; background-size: cover;">
      <h1 class ="logo">GetInked</h1>

      <p>Find your perfect tattoo.</p>
    </div>

<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
</div>


<div class="container">


<%= link_to "Go to tattoos", tattoos_path %>
</div>

</div>
