.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  background: white;
  font-family: 'Lobster', cursive;
  margin-bottom: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand, .nav-item {
  font-family: 'Lobster', cursive;
}


