.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-trip > img {
  height: 500px;
  width: 90%;
  object-fit: crop;
  align-items: center;
  justify-content: space-around;
}

.card-trip h2 {
  font-family: "Varela", sans-serif;
  font-size: 14px;
  margin: 0;
}

.card-trip p {
  font-family: "Varela", sans-serif;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
}

