// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_cards";
@import "components/form";
@import "components/tattooshow";
@import "components/beautifulbuttons";
@import "components/usercontainer";


body {
  margin: 0;
  font-family: "Varela", sans-serif;
  font-size: 14px;
  margin-top: 0px;
}

h1 {
  font-family: "Varela", sans-serif;
}

p {
  line-height: 1.5;
}

.flexbox-container {

    display: flex;
    align-items: center;
    height: 20%;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-group {
    margin-bottom: 0;
  }

 .carousel-item {
  transition:0.01s ease-in-out left;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  height: 75%;
  align-items: center;
  justify-content: center;
  filter: contrast(175%);
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 54;
  color: white;
}

.dropdown {
  margin-top: 10px;
}

.carousel-item {
    width: 100%;
    height: 100%;
    float: left;
    margin: 20px;
}

.carousel-item .img {
    max-width: 100%;
    height: auto;
}

.mr-auto {
  margin-right: auto!important;

}

.btn {
  border-radius: 20px;
  font-size: 15px;
}

.btn-special {
  background-color: #0d31e2;
  color: white;
}

.btn-special a {
  color: white;
  align-items:center;
}
